# compiled python file
*.pyc

# scrapped images
/straight_hair/*

# cropped samples
data/*

#downloaded OpenCV face recoginition haarcascades files
code/haarcascades/

*.DS_Store

#training record
*rcd*

# notebook checkpoints
.ipynb_checkpoints*